__pycache__
*__pycache__
.idea
*.idea
.vscode/*
*.pb
*.pyc
.vscode/*_
*.h5
*.mp4
# check point
*.index
*.meta
*.data-00000-of-00001
*.zip
*.tar
*.pickle
*.npy
*.log
*.params
*.avi
*.sqlite
*.dat
*.engine
*venv
.ipynb_checkpoints
.cache
.hydra
log/*

tmp/*
models/*
tmp*
data/*
create_project.sh