# docker-compose up -d --remove-orphans
version: "2"
services:
  mongodb:
    image: mongodb/mongodb-community-server:6.0-ubi8
    volumes:
      - mongodb-data:/data/db
    networks:
      - app_network

  db-manage-background:
    image: evndata-manage:v1.0
    volumes:
      - $PWD/:/app/
    command: python3.10 background.py updateDb_api.detector.host=http://10.0.0.238
    networks:
      - app_network

  db-manage-api:
    image: evndata-manage:v1.0
    volumes:
      - $PWD/:/app/
    command: >
      gunicorn 'server:main("data_api.server_public.host=http://10.0.0.238 data_api.server_public.port=8030")'
      --bind :8030 --workers 4 --worker-class uvicorn.workers.UvicornWorker
    ports:
      - "8030:8030"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  mongodb-data: