/* Custom CSS */
.navbar-brand {
  font-family: titillium web, sans-serif;
  font-size: 1.5rem !important;
  padding-top: 0 !important;
  margin-right: 2rem !important;
  color: #5cb85c !important;
}

.nav-link .user-pic {
  height: 26px;
  border-radius: 50px;
  float: left;
  margin-right: 5px;
}

.nav-link:hover {
  transition: 0.1s all;
}

.nav-pills.outline-active .nav-link {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid transparent;
  background: 0 0;
  color: #aaa;
}

.nav-pills.outline-active .nav-link:hover {
  color: #555;
}

.nav-pills.outline-active .nav-link.active {
  background: #fff !important;
  border-bottom: 2px solid #5cb85c !important;
  color: #5cb85c !important;
}

footer {
  background: #f3f3f3;
  margin-top: 3rem;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer .logo-font {
  vertical-align: middle;
}

footer .attribution {
  vertical-align: middle;
  margin-left: 10px;
  font-size: 0.8rem;
  color: #bbb;
  font-weight: 300;
}

.error-messages {
  color: #b85c5c !important;
  font-weight: 700;
}

.banner {
  color: #fff;
  background: #333;
  padding: 2rem;
  margin-bottom: 2rem;
}

.banner h1 {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 0;
}

.container .page {
  margin-top: 1.5rem;
}

.slick-slider {
  width: 90%;
  margin: auto;
}

/* the slides */
.slick-slide {
  margin: 0 5px;
}

/* the parent */
.slick-list {
  margin: 0 -5px;
}

.camera-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  max-width: 100%;
}

.camera-loading-message {
}

.camera-preview {
  width: 100%;
  max-width: 100%;
}

.camera-preview p {
  text-align: center;
  font-weight: bold;
}

.camera-objects {
  background-color: #aaa;
}

.camera-stream {
  position: relative;
  width: 100%;
  /* max-width: 300px; */
}

.camera-stream-preview {
  display: block;
  /* chinh do rong cua video stream */
  max-width: 99%; 
  height: auto;
  width: 100%;
  margin: auto;
 
}
/* [class^="col-"] {
    padding: 5px 5px 5px 5px;
} */

.btn-camera-more {
  border: none;
  position: absolute;
  top: 0px;
  right: 0px;
  float: right;
  line-height: unset;
  border-radius: unset;
  background: unset;
  color: unset;
  max-width: 30px;
  max-height: 30px;
}

.confirm-dialog {
  text-align: center;
  min-width: 350px;
  margin: 10px;
}

.selection-dialog {
  text-align: center;
  min-width: 350px;
  margin: 10px;
}

.camera-select {
  margin: 0 auto;
  min-width: 100px;
  text-align: center;
}

.camera-polygon {
  margin: 0 auto;
  text-align: center;
}

.canvas-container {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.btn-actions {
  margin-top: 20px;
  text-align: center;
}

.btn-submit {
  background-color: #5cb85c;
  color: #fff;
}

.btn-submit:hover {
  background-color: #077e0b;
}

/*
.home-page .banner {
    background: #5cb85c;
    box-shadow: inset 0 8px 8px -8px rgba(0,0,0,.3),inset 0 -8px 8px -8px rgba(0,0,0,.3)
}

.home-page .banner p {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300!important;
    margin-bottom: 0
}

.home-page .banner h1 {
    text-shadow: 0 1px 3px rgba(0,0,0,.3);
    font-weight: 700!important;
    text-align: center;
    font-size: 3.5rem;
    padding-bottom: .5rem
}

.home-page .feed-toggle {
    margin-bottom: -1px
}

.home-page .sidebar {
    padding: 5px 10px 10px;
    background: #f3f3f3;
    border-radius: 4px
}

.home-page .sidebar p {
    margin-bottom: .2rem
}
*/
