# docker compose --env-file ./.env up -d
version: "2"

services:
  nginx:
    container_name: nginx
    image: nginx:latest
    restart: always
    ports:
      - "8020:80"
    volumes:
      - $PWD/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app_network

  detector:
    image: detyolov8:v1.0
    volumes:
      - $PWD/:/app/
    command: python3.10 server.py
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ["0"]
              capabilities: [gpu]
      mode: replicated
      replicas: 4
    networks:
      - app_network

networks:
  app_network:
    driver: bridge