# docker compose --env-file ./.env up -d
version: "2"

services:
  nginx:
    container_name: nginx
    image: nginx:latest
    restart: always
    ports:
      - "8020:80"
    volumes:
      - $DETECTOR_SRC/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app_network

  detector:
    image: detyolov8:v1.0
    volumes:
      - $DETECTOR_SRC/:/app/
    command: python3.10 server.py hydra.verbose=false
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ["0"]
              capabilities: [gpu]
      mode: replicated
      replicas: 2
    networks:
      - app_network

  mongodb:
    image: mongodb/mongodb-community-server:6.0-ubi8
    restart: always
    volumes:
      - mongodb-data:/data/db
    ports:
      - "27018:27017"
    networks:
      - app_network

  db-manage-background:
    image: evndata-manage:v1.0
    restart: always
    volumes:
      - $DATA_MANAGE_SRC/:/app/
      - /home/dn3camserver/Video_capture:/app/data/Video_capture
    command: python3.10 background.py updateDb_api.detector.host=http://10.130.9.148 hydra.verbose=false
    networks:
      - app_network

  db-manage-api:
    image: evndata-manage:v1.0
    restart: always
    volumes:
      - $DATA_MANAGE_SRC/:/app/
    command: 
      gunicorn 'server:main("data_api.server_public.host=http://10.130.9.148 data_api.server_public.port=8084 hydra.verbose=false")'
      --bind :8030 --workers 4 --worker-class uvicorn.workers.UvicornWorker
    ports:
      - "8084:8030"
    networks:
      - app_network

  dashboard:
    image: evn-dashboard
    restart: always
    volumes:
      - $DASHBOARD_SRC/src:/usr/src/evn-project-fe/src
    ports:
      - "8083:4200"
    command: node_modules/.bin/ng serve -c production --host 0.0.0.0
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  mongodb-data: